*.tlog
ActionSquad2/Bin/*.exe
*.opendb
*.db
*.dkas_auto
*.manifest
.vs/
*.ilk
*.pdb
*.user
*.suo
*.sdf
ActionSquad2/Obj/
*.lastcodeanalysissucceeded
Tools/AStar/AStarApp1/AStarApp1/obj/
*.idb
Tools/AStar/AStarCpp/Debug/
Tools/AStar/AStarCpp/AStarCpp/Debug/
*.aps
ActionSquad2/imgui.ini
